#root {
  font-family: Arial, Helvetica, sans-serif;

  font-size: larger;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sect {
  width: 250px;
  height: 300px;
  color: aliceblue;
  background-color: rgba(67, 69, 197, 0.765);
  border-radius: 20px;
}
.sect:hover {
  transform: scale(1.02);
}
.btn {
  font-weight: 700;
  border: 1px solid rgb(165, 66, 30);
  color: aliceblue;
  margin-bottom: 10px;
  background-color: rgb(255, 136, 0);
  width: 200px;
  height: 50px;
}
.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
